.linear,
.easeIn,
.easeOut,
.easeInOut {
    -webkit-transition-property: all;
       -moz-transition-property: all;
            transition-property: all;
}
.linear {
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
            transition-timing-function: linear;
}
.easeIn {
    -webkit-transition-timing-function: ease-in;
       -moz-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
}
.easeOut {
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.easeInOut {
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
