.care-companion-donation-box {
    color: #fff;
    padding: 20px 30px;
    margin-bottom: 25px;
    .donation-title {
        color: $light;
        font-size: 18px;
    }
    .action-section {
        color: $light_700;
    }
    .donation-action {
        .care-companion-icon {
            margin-right: 2.5px;
        }
    }
    .donation-raised,
    .donation-goal,
    .donation-separator {
        display: inline-block;
        vertical-align: top;
        min-height: 46px;
    }
    .donation-raised,
    .donation-goal {
        width: 47%;
        font-weight: bold;
    }
    .donation-raised {
        padding-right: 15px;
        text-align: right;
    }
    .donation-goal {
        padding-left: 15px;
        text-align: left;
    }
    .donation-separator {
        max-width: 1%;
    }

    .donation-value {
        font-size: 18px;
    }

    &.Circle {
        .progressbar-text {
            position: absolute;
            top: 25%;
        }
    }
    &.SemiCircle {
        .progressbar-text {
            position: absolute;
            top: 25%!important;
            transform: translate(0%, 0px)!important;
            .percentage-text {
                font-size: 0.5em;
            }
        }
    }
    &.Line {
        .progressbar-text {
            top: -2.5px;
        }
    }

    &.style-1 {
        background: rgba(0, 0, 0, 0.87);
        .care-companion-entry-share {
            position: relative;
            top: -2.5px;
        }
        .donation-information-section {
            text-align: center;
            padding: 0;
        }
        .donation-information {
            margin-bottom: 15px;
        }
        .donation-content {
            color: rgba(255, 255, 255, 0.75);
            margin-bottom: 15px;
        }
        .donation-caption,
        .donation-value {
            width: 100%;
            display: inline-block;
            line-height: normal;
        }
        &.Circle {
            .donation-information-section {
                padding-top: 20px;
            }
            .care-companion-progress-bar {
                line-height: 0;
            }
            .progressbar-section {
                padding: 0 10%;
            }
        }
    }
    &.style-2 {
        background-size: cover;
        padding: 0;
        .main-container {
            margin-right: 0;
            margin-left: 0px;
        }
        .action-section {
            margin-bottom: 15px;
        }
        .donation-content {
            margin-bottom: 25px;
        }
        .donation-left-section,
        .donation-right-section {
            padding: 60px 45px;
            float: none;
            display: table-cell;
            vertical-align: top;
            position: relative;
            .background-overlay {
                width: 100%;
                height: 100%;
                opacity: 0.85;
                display: inline-block;
                position: absolute;
                top: 0;
                ~ * {
                    position: relative;
                }
            }
        }
        .donation-left-section {
            .background-overlay {
                left: 0;
            }
        }
        .donation-right-section {
            .background-overlay {
                right: 0;
            }
        }
        .progressbar-section {
            max-width: 180px;
            margin: 0 auto;
            float: none;
        }
        .donation-information {
            text-align: center;
            .care-companion-btn {
                margin-top: 25px;
            }
        }
        .donation-caption,
        .donation-value {
            width: 100%;
            display: inline-block;
            line-height: normal;
        }
    }
    &.style-3 {
        width: 450px;
        padding: 0;
        vertical-align: top;
        display: inline-block;
        .action-section {
            margin-bottom: 20px;
        }
        .main-container {
            margin-right: 0;
            margin-left: 0px;
        }
        .donation-content {
            margin-bottom: 25px;
        }
        .donation-left-section,
        .donation-right-section {
            padding: 30px 45px;
            position: relative;
            .background-overlay {
                width: 100%;
                height: 100%;
                opacity: 0.85;
                display: inline-block;
                position: absolute;
                top: 0;
                ~ * {
                    position: relative;
                }
            }
        }
        .donation-left-section {
            padding-top: 35px;
            padding-bottom: 45px;
            .background-overlay {
                left: 0;
            }
        }
        .donation-right-section {
            .background-overlay {
                right: 0;
            }
        }
        .donation-raised,
        .donation-goal {
            color: #fff;
            font-size: 18px;
            font-size: bold;
        }
        .donation-raised {
            text-align: left;
        }
        .donation-goal {
            text-align: right;
        }
        &.Circle {
            .progressbar-section {
                max-width: 180px;
                margin: 0 auto;
                float: none;
            }
        }
    }

    &.style-4 {
        @extend .care-companion-recent-campaigns;
        max-width: none;
    }
    &.style-5 {
        @extend .care-companion-recent-campaigns;
        width: 49.80%;
        max-width: none;
        display: inline-block;
        vertical-align: top;
        .donation-left-section {
            .progressbar-section {
                padding: 5px 10px 0;
                left: 42.5%;
            }
        }
        .information-wrapper {
            margin: 35px 0 15px;
            padding: 0 25px;
        }
        .information-inner-wrap {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
        }

        .content-wrapper,
        .footer-wrapper {
            padding: 0;
        }
        .content-wrapper {
            margin-bottom: 25px;
        }
        .footer-wrapper {
            .donate-section {
                padding-left: 0;
            }
            .action-section {
                padding-left: 15px;
                margin: 10px 0;
                text-align: right;
            }
        }

        .information-inner-wrap-left {
            padding-left: 0;
            h1.donation-title {
                @extend .care-companion-ellipsis;
                max-width: 150px;
                line-height: 18px;
                margin-top: 2.5px;
                margin-bottom: 0;
            }
        }
        .information-inner-wrap-right {
            padding-right: 0;
            .donation-information {
                text-align: right;
            }
            .donation-separator {
                min-height: 15px;
                margin-top: 5px;
            }
            .donation-raised,
            .donation-goal {
                width: auto;
                min-height: inherit;
                display: inline-block;
                .donation-caption,
                .donation-value {
                    font-size: 15px;
                }
            }
            .donation-raised {
                padding-right: 5px;
            }
            .donation-goal {
                padding-left: 5px;
            }

        }
        .action-section {
            padding: 0;
        }
    }
}
/**
 * Care Companion Entry Share
 */
.care-companion-entry-share {
    @extend .care-companion-floating-share-button;
    position: relative;
    top: -2px;
    margin-bottom: 15px;
    display: inline-block;
    .entry-share-left,
    .entry-share-right {
        display: inline-block;
            vertical-align: middle;
    }
    .entry-share-left {
        margin-right: 15px;
    }
    > span {
        float: left;
        line-height: 32.5px;
        margin-right: 10px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
        li {
            margin-right: 5px;
            float: left;
            &:hover a {
                background-position-y: -42px;
            }
            &.twitter-share a {
                background-position-x: -39px;
            }

            &.linkedin-share a {
                background-position-x: -76px;
            }

            &.google-plus-share a {
                background-position-x: -112px;
            }

            &.reddit-share a {
                background-position-x: -148px;
            }

            &.email-share a {
                background-position-x: -183px;
            }

            &:last-of-type {
                margin-right: 0;
            }
            a {
                width: 32.5px;
                height: 32.5px;
                background-image: url("images/social_sprites.png");
                background-position: -3px -3px;
                float: left;
                display: inline-block;
                zoom: 0.70;
            }
        }
    }
    .entry-website-link {
        background-color: #f6f8f9;
        line-height: 32.5px;
        padding: 0 20px;
        float: right;
        display: inline-block;
        span {
            line-height: 32.5px;
            font-size: 12px;
            margin-right: 5px;
        }
        a {
            color: inherit;
        }
    }
}

.care-companion-progress-bar.path {
    line-height: 0;
    .percentage-path {
        &:before {
          content: attr(aria-valuenow);
          width: 100%;
          min-height: 40px;
          line-height: 34px;
          padding: 0 2.5px;
          margin-right: -20px;
          color: #fff;
          font-size: 1.5em;
          font-weight: bold;
          text-align: center;
          display: inline-block;
          position: absolute;
          top: 20%;
          left: 0;
          z-index: 10;
          line-height: normal;
        }
        &.Heart {
            min-width: 100%;
            &:before {
                font-size: 100%;
                top: 25%;
            }
            .completed-text {
                position: relative;
                width: 100%;
                display: inline-block;
                line-height: normal;
                min-width: 100%;
                margin-bottom: 15px;
            }
        }
        &.Square {
            &:before {
                top: 10%;
            }
        }
        &.Triangle {
            min-width: 100%;
            &:before {
                font-size: 100%;
                top: auto;
                bottom: 35%;
            }
            .completed-text {
                position: relative;
                width: 100%;
                display: inline-block;
                line-height: normal;
                min-width: 100%;
                margin-bottom: 15px;
            }
        }
        .completed-text {
            width: 100%;
            font-size: 0.65em;
            text-align: center;
            position: absolute;
            top: 70%;
        }
    }
}
.style-3 {
    .care-companion-progress-bar.path {
        .percentage-path {
            &.Heart {
                &:before {
                    top: 35%;
                }
                .completed-text {
                    position: absolute;
                    top: 50%;
                }
            }
            &.Triangle {
                &:before {
                    top: 50%;
                }
                .completed-text {
                    position: absolute;
                    top: 65%;
                }
            }
        }

        .percentage-path {
            &:before {
                top: 30%;
            }
        }
        .completed-text {
            top: 60%;
        }
    }
}
