.care-companion-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.care-companion-shadow-card {
    @extend .care-companion-transition-500;
    &:hover {
        box-shadow: 0px 7px 10px 10px #f5f5f5;
    }
}
.care-companion-ul {
    padding-left: 0;
}
.care-companion-floating-share-button {
    &:hover {
        z-index: 20;

        .entry-share-right {
            li {
                opacity: 1;
                visibility: visible;
                margin-right: 0;
                padding-right: 5px;
                @media(max-width: 480px) {
                    padding-right: 0;
                    padding-bottom: 5px;
                }
                &:nth-child(1) {}
                &:nth-child(2) {
                    @include transform( translateX(27.25px) );
                    @media(max-width: 768px) {
                        @include transform( translateY(27.25px) );
                    }
                }
                &:nth-child(3) {
                    @include transform( translateX(54.5px) );
                    @media(max-width: 768px) {
                        @include transform( translateY(54.5px) );
                    }
                }
                &:nth-child(4) {
                    @include transform( translateX(81.75px) );
                    @media(max-width: 768px) {
                        @include transform( translateY(81.75px) );
                    }
                }
                &:nth-child(5) {
                    @include transform( translateX(109px) );
                    @media(max-width: 768px) {
                        @include transform( translateY(109px) );
                    }
                }
                &:nth-child(6) {
                    @include transform( translateX(136.25px) );
                    @media(max-width: 768px) {
                        @include transform( translateY(136.25px) );
                    }
                }
            }
        }
    }

    .entry-share-left {
        margin-right: 0;
        cursor: pointer;
    }
    ul {
        position: relative;
        top: -10px;
        li {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            @extend .care-companion-transition-500;
        }
    }
}

.care-companion-shortcode-grid {
    &.column-1,
    &.column-2,
    &.column-3,
    &.column-4,
    &.column-5,
    &.column-6 {
        max-width: none;
        display: inline-block;
        vertical-align: top;
    }
    &.column-1 {
        @include column( width, 100%, '100% - 0px', 0px );
    }
    &.column-2 {
        @include column( width, 47.75%, '50% - 18px', 18px );
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    &.column-3 {
        @include column( width, 31.08%, '33.33% - 12px', 14px );

        &:nth-child(3n) {
            margin-right: 0;
            @media(max-width: 768px) {
                margin-right: 33px;
            }
        }

    }
    &.column-4 {
        @include column( width, 22.75%, '25% - 18px', 18px );

        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    &.column-1,
    &.column-2,
    &.column-3,
    &.column-4,
    &.column-5,
    &.column-6 {
        max-width: none;
        display: inline-block;
        vertical-align: top;
        @media(max-width: 768px) {
            @include column( width, 47.75%, '50% - 18px', 33px );
            &:nth-child(even) {
                margin-right: 0;
            }
        }
        @media(max-width: 480px) {
            width: 100%;
        }
    }
}
