.care-companion-search-field {
    background-image: url('images/search-form-background.png');
    background-size: cover;
    padding: 68px 50px;

    &.care-companion-shortcode-grid {
        &.column-1,
        &.column-2,
        &.column-3,
        &.column-4,
        &.column-5,
        &.column-6 {
            @media(max-width: 768px) {
                width: 100%;
            }
        }
    }
    .search-title {
        font-size: 18px;
    }
    .search-subtitle {
        color: #b8b8b8;
    }
    .search-field {
        background-color: #f3f3f3;
        border-radius: 6px;
        color: #7b7b7b;
        &::-webkit-input-placeholder {
           font-style: italic;
        }
        &:-moz-placeholder {
           font-style: italic;
        }
        &::-moz-placeholder {
           font-style: italic;
        }
        &:-ms-input-placeholder {
           font-style: italic;
        }
    }

    .search-button {
        width: 100%;
        .search-icon {
            margin-right: 10px;
        }
    }
}
