.care-companion-step-boxes {
    @extend .care-companion-shadow-card;
    background-size: cover;
    padding: 0 25px 35px;
    vertical-align: top;
    text-align: center;
    border: 1px solid #f5f5f5;
    margin-bottom: 25px;
    display: inline-block;
    position: relative;

    &.care-companion-shortcode-grid {
        &.column-1,
        &.column-2,
        &.column-3,
        &.column-4,
        &.column-5,
        &.column-6 {
            &.no-margin {
                margin-right: 0;
            }
        }
    }
    .step-number-wrapper {
        width: 100%;
        position: absolute;
        top: -25px;
        left: 0;
    }
    .step-number {
        color: $primary;
        background: $light;
        background-size: cover;
        min-width: 50px;
        min-height: 50px;
        line-height: 37px;
        font-size: 20px;
        font-weight: bold;
        border: 5px solid #f7f7f7;
        border-radius: 50%;
        display: inline-block;
    }
    .icon-wrapper {
        width: 100%;
        padding: 50px 0 25px;
    }
    .step-icon {
        color: $secondary;
        font-size: 4.5em;
    }
    .title-wrapper {

    }
    .step-title {
        margin-top: 0;
        color: #444;
    }
    .content-wrapper {
        color: #636363;
        margin-bottom: 20px;
    }
    .step-content {
        margin-bottom: 0;
    }
    .more-wrapper {
        a {
            font-size: 16px;
            font-weight: bold;
        }
    }
    .step-link-text-icon {
        margin-left: 5px;
    }
}
