.light {
  color: #fff;
}

.care-companion-ellipsis, .care-companion-successful-campaigns .information-inner-left h1.donation-title, .care-companion-donation-box.style-5 .information-inner-wrap-left h1.donation-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.care-companion-shadow-card:hover, .care-companion-recent-campaigns:hover, .care-companion-successful-campaigns:hover, .care-companion-donation-box.style-4:hover, .care-companion-donation-box.style-5:hover, .care-companion-recent-blogs:hover {
  box-shadow: 0px 7px 10px 10px #f5f5f5;
}

.care-companion-ul, .care-companion-recent-campaigns-container, .care-companion-recent-blogs-container {
  padding-left: 0;
}

.care-companion-floating-share-button:hover .entry-share-right li, .care-companion-entry-share:hover .entry-share-right li {
  opacity: 1;
  visibility: visible;
  margin-right: 0;
  padding-right: 5px;
}

.care-companion-floating-share-button:hover .entry-share-right li:nth-child(2), .care-companion-entry-share:hover .entry-share-right li:nth-child(2) {
  -webkit-transform: translateX(27.25px);
  -moz-transform: translateX(27.25px);
  -ms-transform: translateX(27.25px);
  -o-transform: translateX(27.25px);
  transform: translateX(27.25px);
}

.care-companion-floating-share-button:hover .entry-share-right li:nth-child(3), .care-companion-entry-share:hover .entry-share-right li:nth-child(3) {
  -webkit-transform: translateX(54.5px);
  -moz-transform: translateX(54.5px);
  -ms-transform: translateX(54.5px);
  -o-transform: translateX(54.5px);
  transform: translateX(54.5px);
}

.care-companion-floating-share-button:hover .entry-share-right li:nth-child(4), .care-companion-entry-share:hover .entry-share-right li:nth-child(4) {
  -webkit-transform: translateX(81.75px);
  -moz-transform: translateX(81.75px);
  -ms-transform: translateX(81.75px);
  -o-transform: translateX(81.75px);
  transform: translateX(81.75px);
}

.care-companion-floating-share-button:hover .entry-share-right li:nth-child(5), .care-companion-entry-share:hover .entry-share-right li:nth-child(5) {
  -webkit-transform: translateX(109px);
  -moz-transform: translateX(109px);
  -ms-transform: translateX(109px);
  -o-transform: translateX(109px);
  transform: translateX(109px);
}

.care-companion-floating-share-button:hover .entry-share-right li:nth-child(6), .care-companion-entry-share:hover .entry-share-right li:nth-child(6) {
  -webkit-transform: translateX(136.25px);
  -moz-transform: translateX(136.25px);
  -ms-transform: translateX(136.25px);
  -o-transform: translateX(136.25px);
  transform: translateX(136.25px);
}

.care-companion-floating-share-button .entry-share-left, .care-companion-entry-share .entry-share-left {
  margin-right: 0;
  cursor: pointer;
}

.care-companion-floating-share-button ul, .care-companion-entry-share ul {
  position: relative;
  top: -10px;
}

.care-companion-floating-share-button ul li, .care-companion-entry-share ul li {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.linear,
.easeIn,
.easeOut,
.easeInOut {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
}

.linear {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

.easeIn {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.easeOut {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.easeInOut {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.care-companion-transition-500, .care-companion-shadow-card, .care-companion-recent-campaigns, .care-companion-successful-campaigns, .care-companion-donation-box.style-4, .care-companion-donation-box.style-5, .care-companion-recent-blogs, .care-companion-floating-share-button ul li, .care-companion-entry-share ul li, .care-companion-recent-blogs .background-overlay {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.donation-gap {
  margin: 0 5px;
}

.light {
  color: #fff;
}

.dark {
  color: #444;
}

.dark:hover {
  color: #444;
}

.primary {
  color: #f8b864;
}

.background-primary {
  background-color: #f8b864;
}

.border-primary {
  border-color: #f8b864;
}

.secondary {
  color: #eb543a;
}

.background-secondary, .care-companion-btn.secondary {
  background-color: #eb543a;
}

.published-date {
  font-weight: bold;
}

.care-companion-percent-line-bar {
  background-color: #f6f8f9;
  height: 10px;
  margin: 20px 0;
  border-radius: 6px;
  overflow: visible;
}

.care-companion-percent-line-bar span {
  display: block;
  height: 100%;
  width: 0;
  position: relative;
  border-radius: 20px 8px 8px 20px;
}

.care-companion-percent-line-bar span:before {
  content: attr(aria-valuenow);
  min-width: 40px;
  min-height: 40px;
  line-height: 34px;
  padding: 0 2.5px;
  margin-right: -20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background: inherit;
  border: 3px solid #f6f8f9;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -15px;
  right: -2px;
  z-index: 10;
}

.donation-separator {
  width: 1px;
  min-height: 50px;
  background: #777;
  display: inline-block;
}

.care-companion-progress-bar {
  font-size: 100%;
  position: relative;
}

.care-companion-progress-bar svg:not(:root) {
  overflow: visible;
}

.care-companion-progress-bar .progressbar-text {
  width: 100%;
  font-size: 1em;
  text-align: center;
}

.care-companion-progress-bar .progressbar-text .percentage-text,
.care-companion-progress-bar .progressbar-text .completed-text {
  display: inline-block;
  width: 100%;
  float: left;
  line-height: normal;
}

.care-companion-progress-bar .progressbar-text .percentage-text {
  font-weight: bold;
}

.care-companion-progress-bar .progressbar-text .completed-text {
  font-size: 0.35em;
}

.care-companion-btn {
  background: #f8b864;
  color: #fff;
  min-height: 46px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 35px;
  border: 0 none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.care-companion-btn:hover, .care-companion-btn:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.care-companion-btn:hover {
  color: #f6f8f9;
}

.published-date-box {
  border-width: 2px;
  border-style: solid;
  padding: 0 10px;
  display: inline-block;
  font-weight: bold;
}

.published-date-box .date {
  font-size: 48px;
  line-height: normal;
}

.published-date-box .left-section,
.published-date-box .right-section {
  display: inline-block;
  vertical-align: middle;
}

.published-date-box .left-section {
  text-align: center;
}

.published-date-box .right-section {
  min-height: 56px;
  padding-top: 7.5px;
  padding-left: 15px;
  margin-left: -2px;
}

.care-companion-recent-campaigns, .care-companion-successful-campaigns, .care-companion-donation-box.style-4, .care-companion-donation-box.style-5 {
  width: 250px;
  max-width: 250px;
  padding: 0 0 20px;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #f5f5f5;
  margin-bottom: 25px;
}

.care-companion-recent-campaigns .main-container, .care-companion-successful-campaigns .main-container, .care-companion-donation-box.style-4 .main-container, .care-companion-donation-box.style-5 .main-container {
  position: relative;
}

.care-companion-recent-campaigns .progressbar-section, .care-companion-successful-campaigns .progressbar-section, .care-companion-donation-box.style-4 .progressbar-section, .care-companion-donation-box.style-5 .progressbar-section {
  position: absolute;
  top: 0;
  left: 30px;
}

.care-companion-recent-campaigns .donation-featured-image, .care-companion-successful-campaigns .donation-featured-image, .care-companion-donation-box.style-4 .donation-featured-image, .care-companion-donation-box.style-5 .donation-featured-image {
  background-size: cover;
  min-height: 250px;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
}

.care-companion-recent-campaigns .donation-featured-image .donation-icon, .care-companion-successful-campaigns .donation-featured-image .donation-icon, .care-companion-donation-box.style-4 .donation-featured-image .donation-icon, .care-companion-donation-box.style-5 .donation-featured-image .donation-icon {
  font-size: 5em;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  line-height: 250px;
}

.care-companion-recent-campaigns .progressbar-section, .care-companion-successful-campaigns .progressbar-section, .care-companion-donation-box.style-4 .progressbar-section, .care-companion-donation-box.style-5 .progressbar-section {
  max-width: 90px;
  text-align: center;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 1;
}

.care-companion-recent-campaigns .progressbar-section .donation-raised, .care-companion-successful-campaigns .progressbar-section .donation-raised, .care-companion-donation-box.style-4 .progressbar-section .donation-raised, .care-companion-donation-box.style-5 .progressbar-section .donation-raised {
  width: auto;
  padding: 5px 0 0;
}

.care-companion-recent-campaigns .progressbar-section .donation-value, .care-companion-successful-campaigns .progressbar-section .donation-value, .care-companion-donation-box.style-4 .progressbar-section .donation-value, .care-companion-donation-box.style-5 .progressbar-section .donation-value,
.care-companion-recent-campaigns .progressbar-section .donation-caption, .care-companion-successful-campaigns .progressbar-section .donation-caption, .care-companion-donation-box.style-4 .progressbar-section .donation-caption, .care-companion-donation-box.style-5 .progressbar-section .donation-caption {
  width: 100%;
  font-size: 15px;
  text-align: center;
  display: inline-block;
}

.care-companion-recent-campaigns .progressbar-section .percentage-circle, .care-companion-successful-campaigns .progressbar-section .percentage-circle, .care-companion-donation-box.style-4 .progressbar-section .percentage-circle, .care-companion-donation-box.style-5 .progressbar-section .percentage-circle {
  border-radius: 50%;
  position: static;
}

.care-companion-recent-campaigns .progressbar-section .care-companion-progress-bar, .care-companion-successful-campaigns .progressbar-section .care-companion-progress-bar, .care-companion-donation-box.style-4 .progressbar-section .care-companion-progress-bar, .care-companion-donation-box.style-5 .progressbar-section .care-companion-progress-bar {
  background: transparent;
  width: 55px;
  height: 55px;
  margin: 10px 0 0;
  display: inline-block;
  position: relative;
  top: -7px;
}

.care-companion-recent-campaigns .progressbar-section .care-companion-progress-bar span:before, .care-companion-successful-campaigns .progressbar-section .care-companion-progress-bar span:before, .care-companion-donation-box.style-4 .progressbar-section .care-companion-progress-bar span:before, .care-companion-donation-box.style-5 .progressbar-section .care-companion-progress-bar span:before {
  color: #444;
  background-color: #f6f8f9;
  width: 78%;
  height: 78%;
  min-width: inherit;
  min-height: inherit;
  font-size: 15px;
  line-height: 40px;
  border: none;
  margin-right: 0;
  float: left;
  top: 12%;
  left: 11%;
}

.care-companion-recent-campaigns .progressbar-section .care-companion-progress-bar span:after, .care-companion-successful-campaigns .progressbar-section .care-companion-progress-bar span:after, .care-companion-donation-box.style-4 .progressbar-section .care-companion-progress-bar span:after, .care-companion-donation-box.style-5 .progressbar-section .care-companion-progress-bar span:after {
  content: '';
  background-color: rgba(246, 248, 249, 0.56);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.care-companion-recent-campaigns .donation-title, .care-companion-successful-campaigns .donation-title, .care-companion-donation-box.style-4 .donation-title, .care-companion-donation-box.style-5 .donation-title,
.care-companion-recent-campaigns .action-section, .care-companion-successful-campaigns .action-section, .care-companion-donation-box.style-4 .action-section, .care-companion-donation-box.style-5 .action-section {
  color: #444;
}

.care-companion-recent-campaigns .information-wrapper, .care-companion-successful-campaigns .information-wrapper, .care-companion-donation-box.style-4 .information-wrapper, .care-companion-donation-box.style-5 .information-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.care-companion-recent-campaigns .information-wrapper > h1.donation-title, .care-companion-successful-campaigns .information-wrapper > h1.donation-title, .care-companion-donation-box.style-4 .information-wrapper > h1.donation-title, .care-companion-donation-box.style-5 .information-wrapper > h1.donation-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.care-companion-recent-campaigns-style.style-1 .donation-content {
  padding: 0 15px;
}

.care-companion-recent-campaigns-style.style-2 .donation-information {
  font-weight: bold;
  margin-bottom: 10px;
}

.care-companion-recent-campaigns-style.style-2 .donation-information .donation-raised,
.care-companion-recent-campaigns-style.style-2 .donation-information .donation-goal {
  display: inline-block;
}

.care-companion-recent-campaigns-style.style-2 .donation-content {
  margin-bottom: 15px;
}

.care-companion-recent-campaigns-style.style-2 .progressbar-section {
  max-width: none;
  width: 100%;
  left: 0;
}

.care-companion-recent-campaigns-style.style-2 .progressbar-section .care-companion-progress-bar {
  background-color: #f6f8f9;
  height: 10px;
  max-width: none;
  width: 100%;
  margin: 5px 0 18px;
  border-radius: 0;
}

.care-companion-recent-campaigns-style.style-2 .progressbar-section .care-companion-progress-bar .percentage-circle {
  border-radius: 0;
  position: relative;
}

.care-companion-recent-campaigns-style.style-2 .progressbar-section .care-companion-progress-bar .percentage-circle:before {
  width: 50px;
  height: 50px;
  line-height: 40px;
  color: #fff;
  background-color: #eb543a;
  border: 3.5px solid #f6f8f9;
  top: -22px;
  left: auto;
  right: -27px;
}

.care-companion-recent-campaigns-style.style-2 .progressbar-section .care-companion-progress-bar .percentage-circle:after {
  background-color: transparent;
}

.care-companion-recent-campaigns-grid.column-1, .column-1.care-companion-recent-blogs-grid, .care-companion-recent-campaigns-grid.column-2, .column-2.care-companion-recent-blogs-grid, .care-companion-recent-campaigns-grid.column-3, .column-3.care-companion-recent-blogs-grid, .care-companion-recent-campaigns-grid.column-4, .column-4.care-companion-recent-blogs-grid, .care-companion-recent-campaigns-grid.column-5, .column-5.care-companion-recent-blogs-grid, .care-companion-recent-campaigns-grid.column-6, .column-6.care-companion-recent-blogs-grid {
  max-width: none;
  display: inline-block;
  vertical-align: top;
}

.care-companion-recent-campaigns-grid.column-1, .column-1.care-companion-recent-blogs-grid {
  width: 100%;
  width: -webkit-calc( 100% - 0px);
  width: -moz-calc( 100% - 0px);
  width: calc( 100% - 0px);
  margin-right: 0px;
}

.care-companion-recent-campaigns-grid.column-2, .column-2.care-companion-recent-blogs-grid {
  width: 47.75%;
  width: -webkit-calc( 50% - 18px);
  width: -moz-calc( 50% - 18px);
  width: calc( 50% - 18px);
  margin-right: 18px;
}

.care-companion-recent-campaigns-grid.column-2:nth-child(2n), .column-2.care-companion-recent-blogs-grid:nth-child(2n) {
  margin-right: 0;
}

.care-companion-recent-campaigns-grid.column-3, .column-3.care-companion-recent-blogs-grid {
  width: 31.08%;
  width: -webkit-calc( 33.33% - 18px);
  width: -moz-calc( 33.33% - 18px);
  width: calc( 33.33% - 18px);
  margin-right: 14px;
}

.care-companion-recent-campaigns-grid.column-3:nth-child(3n), .column-3.care-companion-recent-blogs-grid:nth-child(3n) {
  margin-right: 0;
}

.care-companion-recent-campaigns-grid.column-4, .column-4.care-companion-recent-blogs-grid {
  width: 22.75%;
  width: -webkit-calc( 25% - 18px);
  width: -moz-calc( 25% - 18px);
  width: calc( 25% - 18px);
  margin-right: 18px;
}

.care-companion-recent-campaigns-grid.column-4:nth-child(4n), .column-4.care-companion-recent-blogs-grid:nth-child(4n) {
  margin-right: 0;
}

.care-companion-recent-blogs {
  width: 250px;
  max-width: 250px;
  padding: 0 0 20px;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #f5f5f5;
  margin-bottom: 25px;
}

.care-companion-recent-blogs .featured-image-section {
  position: relative;
  overflow: hidden;
}

.care-companion-recent-blogs:hover .background-overlay {
  opacity: 0.75;
  visibility: visible;
}

.care-companion-recent-blogs .background-overlay {
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-align: center;
  padding: 25% 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: table;
  cursor: pointer;
}

.care-companion-recent-blogs .background-overlay-inner-wrap {
  width: 100%;
}

.care-companion-recent-blogs .no-featured-image {
  color: #676767;
  background-color: #e7e7e7;
  min-height: 90px;
  width: 100%;
  font-size: 3.5em;
  text-align: center;
  padding: 16.5% 0;
}

.care-companion-recent-blogs .information-wrapper .blog-title {
  line-height: initial;
  font-size: 0;
}

.care-companion-recent-blogs .information-wrapper .blog-title a {
  color: #777;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25;
  display: inline-block;
}

.care-companion-recent-blogs .date-posted,
.care-companion-recent-blogs .action-separator,
.care-companion-recent-blogs .author {
  font-style: italic;
}

.care-companion-recent-blogs .date-posted .care-companion-icon {
  margin-right: 5px;
}

.care-companion-recent-blogs .action-separator {
  margin: 0 5px;
}

.care-companion-successful-campaigns .information-wrapper {
  padding: 35px 25px 10px;
}

.care-companion-successful-campaigns .information-inner-wrap {
  padding: 0;
}

.care-companion-successful-campaigns .information-inner-left,
.care-companion-successful-campaigns .information-inner-right {
  padding: 0;
}

.care-companion-successful-campaigns .information-inner-left {
  padding-top: 5px;
}

.care-companion-successful-campaigns .left-section {
  padding-left: 0;
  padding-right: 0;
}

.care-companion-successful-campaigns .right-section {
  padding-top: 7.5px;
  padding-left: 12.5px;
  padding-right: 0;
}

.care-companion-successful-campaigns .information-inner-left h1.donation-title {
  max-width: 190px;
  font-size: 18px;
  line-height: 18px;
  margin-top: 2.5px;
  margin-bottom: 0;
}

.care-companion-donation-box {
  color: #fff;
  padding: 20px 30px;
  margin-bottom: 25px;
}

.care-companion-donation-box .donation-title {
  color: #fff;
  font-size: 18px;
}

.care-companion-donation-box .action-section {
  color: rgba(255, 255, 255, 0.87);
}

.care-companion-donation-box .donation-action .care-companion-icon {
  margin-right: 2.5px;
}

.care-companion-donation-box .donation-raised,
.care-companion-donation-box .donation-goal,
.care-companion-donation-box .donation-separator {
  display: inline-block;
  vertical-align: top;
  min-height: 46px;
}

.care-companion-donation-box .donation-raised,
.care-companion-donation-box .donation-goal {
  width: 47%;
  font-weight: bold;
}

.care-companion-donation-box .donation-raised {
  padding-right: 15px;
  text-align: right;
}

.care-companion-donation-box .donation-goal {
  padding-left: 15px;
  text-align: left;
}

.care-companion-donation-box .donation-separator {
  max-width: 1%;
}

.care-companion-donation-box .donation-value {
  font-size: 18px;
}

.care-companion-donation-box.Circle .progressbar-text {
  position: absolute;
  top: 25%;
}

.care-companion-donation-box.SemiCircle .progressbar-text {
  position: absolute;
  top: 25% !important;
  transform: translate(0%, 0px) !important;
}

.care-companion-donation-box.SemiCircle .progressbar-text .percentage-text {
  font-size: 0.5em;
}

.care-companion-donation-box.Line .progressbar-text {
  top: -2.5px;
}

.care-companion-donation-box.style-1 {
  background: rgba(0, 0, 0, 0.87);
}

.care-companion-donation-box.style-1 .care-companion-entry-share {
  position: relative;
  top: -2.5px;
}

.care-companion-donation-box.style-1 .donation-information-section {
  text-align: center;
  padding: 0;
}

.care-companion-donation-box.style-1 .donation-information {
  margin-bottom: 15px;
}

.care-companion-donation-box.style-1 .donation-content {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 15px;
}

.care-companion-donation-box.style-1 .donation-caption,
.care-companion-donation-box.style-1 .donation-value {
  width: 100%;
  display: inline-block;
  line-height: normal;
}

.care-companion-donation-box.style-1.Circle .donation-information-section {
  padding-top: 20px;
}

.care-companion-donation-box.style-1.Circle .care-companion-progress-bar {
  line-height: 0;
}

.care-companion-donation-box.style-1.Circle .progressbar-section {
  padding: 0 5%;
}

.care-companion-donation-box.style-2 {
  background-size: cover;
  padding: 0;
}

.care-companion-donation-box.style-2 .main-container {
  margin-right: 0;
  margin-left: 0px;
}

.care-companion-donation-box.style-2 .action-section {
  margin-bottom: 15px;
}

.care-companion-donation-box.style-2 .donation-content {
  margin-bottom: 25px;
}

.care-companion-donation-box.style-2 .donation-left-section,
.care-companion-donation-box.style-2 .donation-right-section {
  padding: 60px 45px;
  float: none;
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.care-companion-donation-box.style-2 .donation-left-section .background-overlay,
.care-companion-donation-box.style-2 .donation-right-section .background-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.85;
  display: inline-block;
  position: absolute;
  top: 0;
}

.care-companion-donation-box.style-2 .donation-left-section .background-overlay ~ *,
.care-companion-donation-box.style-2 .donation-right-section .background-overlay ~ * {
  position: relative;
}

.care-companion-donation-box.style-2 .donation-left-section .background-overlay {
  left: 0;
}

.care-companion-donation-box.style-2 .donation-right-section .background-overlay {
  right: 0;
}

.care-companion-donation-box.style-2 .progressbar-section {
  max-width: 180px;
  margin: 0 auto;
  float: none;
}

.care-companion-donation-box.style-2 .donation-information {
  text-align: center;
}

.care-companion-donation-box.style-2 .donation-information .care-companion-btn {
  margin-top: 25px;
}

.care-companion-donation-box.style-2 .donation-caption,
.care-companion-donation-box.style-2 .donation-value {
  width: 100%;
  display: inline-block;
  line-height: normal;
}

.care-companion-donation-box.style-3 {
  width: 450px;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}

.care-companion-donation-box.style-3 .action-section {
  margin-bottom: 20px;
}

.care-companion-donation-box.style-3 .main-container {
  margin-right: 0;
  margin-left: 0px;
}

.care-companion-donation-box.style-3 .donation-content {
  margin-bottom: 25px;
}

.care-companion-donation-box.style-3 .donation-left-section,
.care-companion-donation-box.style-3 .donation-right-section {
  padding: 30px 45px;
  position: relative;
}

.care-companion-donation-box.style-3 .donation-left-section .background-overlay,
.care-companion-donation-box.style-3 .donation-right-section .background-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.85;
  display: inline-block;
  position: absolute;
  top: 0;
}

.care-companion-donation-box.style-3 .donation-left-section .background-overlay ~ *,
.care-companion-donation-box.style-3 .donation-right-section .background-overlay ~ * {
  position: relative;
}

.care-companion-donation-box.style-3 .donation-left-section {
  padding-top: 35px;
  padding-bottom: 45px;
}

.care-companion-donation-box.style-3 .donation-left-section .background-overlay {
  left: 0;
}

.care-companion-donation-box.style-3 .donation-right-section .background-overlay {
  right: 0;
}

.care-companion-donation-box.style-3 .donation-raised,
.care-companion-donation-box.style-3 .donation-goal {
  color: #fff;
  font-size: 18px;
  font-size: bold;
}

.care-companion-donation-box.style-3 .donation-raised {
  text-align: left;
}

.care-companion-donation-box.style-3 .donation-goal {
  text-align: right;
}

.care-companion-donation-box.style-3.Circle .progressbar-section {
  max-width: 180px;
  margin: 0 auto;
  float: none;
}

.care-companion-donation-box.style-4 {
  max-width: none;
}

.care-companion-donation-box.style-5 {
  width: 49.80%;
  max-width: none;
  display: inline-block;
  vertical-align: top;
}

.care-companion-donation-box.style-5 .donation-left-section .progressbar-section {
  padding: 5px 10px 0;
  left: 42.5%;
}

.care-companion-donation-box.style-5 .information-wrapper {
  margin: 35px 0 15px;
  padding: 0 25px;
}

.care-companion-donation-box.style-5 .information-inner-wrap {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.care-companion-donation-box.style-5 .content-wrapper,
.care-companion-donation-box.style-5 .footer-wrapper {
  padding: 0;
}

.care-companion-donation-box.style-5 .content-wrapper {
  margin-bottom: 25px;
}

.care-companion-donation-box.style-5 .footer-wrapper .donate-section {
  padding-left: 0;
}

.care-companion-donation-box.style-5 .footer-wrapper .action-section {
  padding-left: 15px;
  margin: 10px 0;
  text-align: right;
}

.care-companion-donation-box.style-5 .information-inner-wrap-left {
  padding-left: 0;
}

.care-companion-donation-box.style-5 .information-inner-wrap-left h1.donation-title {
  max-width: 150px;
  line-height: 18px;
  margin-top: 2.5px;
  margin-bottom: 0;
}

.care-companion-donation-box.style-5 .information-inner-wrap-right {
  padding-right: 0;
}

.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-information {
  text-align: right;
}

.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-separator {
  min-height: 15px;
  margin-top: 5px;
}

.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-raised,
.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-goal {
  width: auto;
  min-height: inherit;
  display: inline-block;
}

.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-raised .donation-caption,
.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-raised .donation-value,
.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-goal .donation-caption,
.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-goal .donation-value {
  font-size: 15px;
}

.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-raised {
  padding-right: 5px;
}

.care-companion-donation-box.style-5 .information-inner-wrap-right .donation-goal {
  padding-left: 5px;
}

.care-companion-donation-box.style-5 .action-section {
  padding: 0;
}

/**
 * Care Companion Entry Share
 */
.care-companion-entry-share {
  position: relative;
  top: -2px;
  margin-bottom: 15px;
  display: inline-block;
}

.care-companion-entry-share .entry-share-left,
.care-companion-entry-share .entry-share-right {
  display: inline-block;
  vertical-align: middle;
}

.care-companion-entry-share .entry-share-left {
  margin-right: 15px;
}

.care-companion-entry-share > span {
  float: left;
  line-height: 32.5px;
  margin-right: 10px;
}

.care-companion-entry-share ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.care-companion-entry-share ul li {
  margin-right: 5px;
  float: left;
}

.care-companion-entry-share ul li:hover a {
  background-position-y: -42px;
}

.care-companion-entry-share ul li.twitter-share a {
  background-position-x: -39px;
}

.care-companion-entry-share ul li.linkedin-share a {
  background-position-x: -76px;
}

.care-companion-entry-share ul li.google-plus-share a {
  background-position-x: -112px;
}

.care-companion-entry-share ul li.reddit-share a {
  background-position-x: -148px;
}

.care-companion-entry-share ul li.email-share a {
  background-position-x: -183px;
}

.care-companion-entry-share ul li:last-of-type {
  margin-right: 0;
}

.care-companion-entry-share ul li a {
  width: 32.5px;
  height: 32.5px;
  background-image: url("images/social_sprites.png");
  background-position: -3px -3px;
  float: left;
  display: inline-block;
  zoom: 0.70;
}

.care-companion-entry-share .entry-website-link {
  background-color: #f6f8f9;
  line-height: 32.5px;
  padding: 0 20px;
  float: right;
  display: inline-block;
}

.care-companion-entry-share .entry-website-link span {
  line-height: 32.5px;
  font-size: 12px;
  margin-right: 5px;
}

.care-companion-entry-share .entry-website-link a {
  color: inherit;
}

.care-companion-progress-bar.path {
  line-height: 0;
}

.care-companion-progress-bar.path .percentage-path:before {
  content: attr(aria-valuenow);
  width: 100%;
  min-height: 40px;
  line-height: 34px;
  padding: 0 2.5px;
  margin-right: -20px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 10;
  line-height: normal;
}

.care-companion-progress-bar.path .percentage-path.Heart {
  min-width: 100%;
}

.care-companion-progress-bar.path .percentage-path.Heart:before {
  font-size: 100%;
  top: 25%;
}

.care-companion-progress-bar.path .percentage-path.Heart .completed-text {
  position: relative;
  width: 100%;
  display: inline-block;
  line-height: normal;
  min-width: 100%;
  margin-bottom: 15px;
}

.care-companion-progress-bar.path .percentage-path.Square:before {
  top: 10%;
}

.care-companion-progress-bar.path .percentage-path.Triangle {
  min-width: 100%;
}

.care-companion-progress-bar.path .percentage-path.Triangle:before {
  font-size: 100%;
  top: auto;
  bottom: 35%;
}

.care-companion-progress-bar.path .percentage-path.Triangle .completed-text {
  position: relative;
  width: 100%;
  display: inline-block;
  line-height: normal;
  min-width: 100%;
  margin-bottom: 15px;
}

.care-companion-progress-bar.path .percentage-path .completed-text {
  width: 100%;
  font-size: 0.65em;
  text-align: center;
  position: absolute;
  top: 70%;
}

.style-3 .care-companion-progress-bar.path .percentage-path.Heart:before {
  top: 35%;
}

.style-3 .care-companion-progress-bar.path .percentage-path.Heart .completed-text {
  position: absolute;
  top: 50%;
}

.style-3 .care-companion-progress-bar.path .percentage-path.Triangle:before {
  top: 50%;
}

.style-3 .care-companion-progress-bar.path .percentage-path.Triangle .completed-text {
  position: absolute;
  top: 65%;
}

.style-3 .care-companion-progress-bar.path .percentage-path:before {
  top: 30%;
}

.style-3 .care-companion-progress-bar.path .completed-text {
  top: 60%;
}

.care-companion-search-field {
  background-image: url("images/search-form-background.png");
  background-size: cover;
  padding: 50px;
}

.care-companion-search-field .search-title {
  font-size: 24px;
}

.care-companion-search-field .search-subtitle {
  color: #b8b8b8;
}

.care-companion-search-field .search-field {
  background-color: #f3f3f3;
  border-radius: 6px;
  color: #7b7b7b;
}

.care-companion-search-field .search-field::-webkit-input-placeholder {
  font-style: italic;
}

.care-companion-search-field .search-field:-moz-placeholder {
  font-style: italic;
}

.care-companion-search-field .search-field::-moz-placeholder {
  font-style: italic;
}

.care-companion-search-field .search-field:-ms-input-placeholder {
  font-style: italic;
}

.care-companion-search-field .search-button {
  width: 100%;
}

.care-companion-search-field .search-button .search-icon {
  margin-right: 10px;
}

.entry-description-title,
.entry-content-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

body.single-dsc-causes #content.site-content #primary.content-area article.hentry .entry-thumbnail img {
  margin-bottom: 0;
}

body.single-dsc-causes .information-section {
  background-color: #fbfbfb;
  border: 1px solid #f5f5f5;
  padding: 50px 40px;
  margin-bottom: 30px;
}

body.single-dsc-causes .information-section .donation-raised {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

body.single-dsc-causes .information-section .care-companion-donation-box {
  position: relative;
  padding: 0;
  margin: 0;
}

body.single-dsc-causes .information-section .progressbar-text {
  display: inline-block;
  font-size: inherit;
  position: absolute;
  top: 20%;
  left: 0;
}

body.single-dsc-causes .action-section {
  margin-bottom: 15px;
}

/*# sourceMappingURL=care-companion.css.map */